.contain-item {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: min-content;
    border-bottom: 1px solid #ccc;
}

.noBorder {
    border-bottom: none;
}

.contain-item::before,
.contain-item::after {
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transform: scale(0);
    border-radius: 0;
    transition: transform 0.2s ease, border-radius 0.1s ease 0.1s;
}

.contain-item::before {
    border-bottom: 1px solid #ea1d2c;
    border-left: 1px solid #ea1d2c;
    transform-origin: 0 100%;
}

.contain-item::after {
    border-top: 1px solid #ea1d2c;
    border-right: 1px solid #ea1d2c;
    transform-origin: 100% 0;
}

.loading::before,
.loading::after {
    transform: scale(1);
    border-radius: 4px;
    color: #ea1d2c;
}


.contentModal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}

.content {
    height: 100%;
    line-height: 1.15;
    overflow-y: auto;
    padding: 16px 20px;
}

.contain-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-bottom: 1px solid var(--color-neutral-gray-silver);
    background-color: var(--color-base-white);
    position: relative;
    width: 100%;
    justify-content: space-between;
}

/* Opcional: para controlar el ancho mínimo si hay mucho contenido */
.contain-item>* {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.noBorder {
    border-bottom: none;
}

.contain-item::before,
.contain-item::after {
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transform: scale(0);
    border-radius: 0;
    transition: transform 0.2s ease, border-radius 0.1s ease 0.1s;
}

.contain-item::before {
    border-bottom: 1px solid #ea1d2c;
    border-left: 1px solid #ea1d2c;
    transform-origin: 0 100%;
}

.contain-item::after {
    border-top: 1px solid #ea1d2c;
    border-right: 1px solid #ea1d2c;
    transform-origin: 100% 0;
}

.loading::before,
.loading::after {
    transform: scale(1);
    border-radius: 4px;
    color: #ea1d2c;
}

.action {
    align-items: center;
    background: #fff;
    border-top: 2px solid #f5f0eb;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    width: 100%;
}

.button-action {
    background-color: var(--color-base-transparent);
    border: var(--border-width-none);
}

.create-extra_container {
    align-items: start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-create-extra {
    font-size: 16px;
    height: 100%;
    line-height: 1.15;
    overflow-y: auto;
    padding: 16px 20px;
}

@media (max-width: 600px) {
    .contain-item {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}