.content_list {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgb(237, 237, 237);
    width: 80%;
}

.footer {
    gap: 16px;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 12px 50px;
    border-top:  1px solid var(--color-text-inactive);
    background-color: var(--color-base-white);
    z-index: var(--z-index-99999);
}