.categorie {
  align-items: center;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  transition: all .2s linear;
  width: auto;
}

.cat_item {
  overflow: hidden;
  background: #fcebea;
  border: 1px solid #fcebea;
  height: 40px;
  border-radius: 20px;
  padding: 9px 20px;
  min-width: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  cursor: pointer;
      overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cat_title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .cat_title {
    font-size: .7rem;
  }
}