.input-wrapper {
    align-items: stretch;
    border-radius: 5px;
    border: 1px solid var(--color-neutral-gray-silver);
    cursor: pointer;
    flex-flow: wrap;
    font-size: 14px;
    height: auto;
    justify-content: space-between;
    line-height: 1.57143;
    max-width: 100%;
    min-height: 50px;
    position: relative;
    position: relative;
}

.input-wrapper_content {
    height: 50px;
}

.input-wrapper_content_input {
    padding: var(--spacing-lg);
    border: none;
    outline: none;
    border-radius: 5px;

}

.input-wrapper__list {
    position: absolute;
    border: 1px solid;
    top: 55px;
    z-index: var(--z-index-9999);
    background-color: var(--color-base-white);
    max-height: 300px;
    overflow: auto;
}

.input-wrapper__list-option,
.input-wrapper__list-option_action {
    padding: 10px;
    color: var(--color-neutral-black);
    font-family: PFont-Regular;
    font-weight: 500;
}

.input-wrapper__list-option:hover {
    background-color: var(--color-background-secondary);
    color: var(--color-neutral-white);
}

.input-wrapper__list-option_action {
    background-color: var(--color-neutral-gray-silver);
    color: var(--color-neutral-white);
    width: 100%;
    text-align: start;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.input-wrapper__list-option_action:hover {
    background-color: var(--color-primary-pink-light);
}

.input-wrapper__title {
    background-color: var(--color-base-white);
    color: var(--color-neutral-gray-dark);
    font-size: 16px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: 7px;
    transition: top 0.2s ease, color 0.3s ease, transform 0.3s ease;
    user-select: none;
    padding: 5px;
}

.input-wrapper__title--animated:hover {
    color: var(--color-primary-blue);
    transform: scale(1.05);
}

.input-wrapper__title--active {
    top: -17px;
}