.quick-add {
    align-items: center;
    background-color: var(--color-base-white);
    border-radius: 8px;
    box-shadow: var(--box-shadow-sm);
    display: flex;
    height: 38px;
    justify-content: flex-end;
    left: -5px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  
  .quick-add_initial {
    align-items: center;
    background-color: var(--color-base-white);
    border-radius: 50%;
    box-shadow: var(--box-shadow-sm);
    display: flex;
    height: 38px;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
    width: 38px;
  }
  
  .quick-add_editing {
    animation: growIn 0.3s forwards; /* Grow animation */
  }
  
  @keyframes growIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .quick-add button {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    background-color: var(--color-base-white);
  }
  
  .quantity {
    display: inline-block;
    height: 30px;
    line-height: 34px;
    text-align: center;
    font-weight: 500;
    margin: 3px 0;
    min-width: 24px;
    font-size: var(--font-size-xs);
    cursor: pointer;
    color: var(--color-text-black);
  }
  
  /* EditableInput animation */
  .editableInput {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: var(--font-size-xs);
    outline: none;
  }
  
