.wrap_input {
    background-color: var(--color-base-white);
    border-radius: 5px;
    border: 1px solid var(--color-neutral-gray-silver);
    margin: 10px 0;
    position: relative;
}

.input {
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: var(--font-size-lg);
    font-weight: 500;
    margin: 10px 0;
    outline: 0;
    padding: 10px;
    resize: none;
    width: 100%;
    background-color: var(--color-base-white);
    color: var(--color-text-black);
    box-sizing: border-box;
}

.wrap_tooltip {
    position: absolute;
    bottom: -15px;
}

.tooltip {
    font-family: var(--font-family-medium);
    background-color: transparent;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    position: absolute;
    left: 15px;
    top: -2px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.label-input {
    position: absolute;
    transition: 0.2s ease;
    text-align: left;
    pointer-events: none;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: var(--color-base-white);
    color: var(--color-neutral-gray-dark);
    font-family: PFont-Light, sans-serif;
    font-size: var(--font-size-lg);
    left: 15px;
}

.range_counter_container {
    position: absolute;
    bottom: 0;
    font-size: var(--font-size-sm);
}
