.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  border-radius: var(--border-radius-2xs);
  border: 1px solid var(--color-neutral-gray-silver);
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.option-btn {
  background-color: var(--color-base-white);
  border-radius: 8px;
  border: 1px solid var(--color-neutral-gray-silver);
  cursor: pointer;
  padding: 10px;
  position: relative;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-btn:hover {
  border-color: var(--color-feedback-success-dark);
}

.active {
  background-color: var(--color-feedback-success-dark);
  color: #fff;
  border-color: transparent;
}

.customWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.customInput {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  font-size: 14px;
}

.customInput:focus {
  outline: none;
  border-color: #000;
}

.icon-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}