.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  padding: 8px;
  background: #f3f4f6;
  border-radius: 4px;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  margin: 0;
  color: #374151;
}

.button {
  color: white;
  background-color: var(--color-primary-red);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

}