
  .column-container {
    border-bottom: 1px solid #e9ecef;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }

  .no-select {
    user-select: none;
  }

  .column-container *,
  .column-container *::before,
  .column-container::after {
    box-sizing: inherit;
  }

  .column-container .column {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    display: inline-block;
    position: relative;
  }

  .column-container .column-controler {
    position: absolute;
    border: 2.5px solid  var(--color-primary-red);
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    top: 0;
    right: 0;
    cursor: ew-resize;
    width: min-content;
  }
  .column-container .column-controler:hover {
    opacity: 1;
  }

  .column-controler__icon {
    position: absolute;
    left: -20px;
    width: 30px;
    background-color: #ff000066;
    border-radius: 100%;
    height: 30px;
    display: flex;
    place-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    z-index: 99;
    margin: auto;
  }