.containerAside {
    transition: 300ms ease;
    background-color: var(--BGColor);
    height: min-content;
    margin-bottom: 20px;
}

.containerOption {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    cursor: pointer;
    flex-direction: column;
    align-items: baseline;
}

.button_global_create {
    align-items: center;
    border: 2px solid var(--color-background-primary);
    color: var(--b-color);
    display: flex;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    margin: var(--spacing-sm);
    transition: 0.2s;
    width: 100%;
    width: 90%;
}

.button_global_create:hover {
    box-shadow: var(--box-shadow-red-rose);
}

.button_global_create:active {
    transform: scale(0.9);
    box-shadow: var(--box-shadow-red);
}

.sidebar-header-button {
    border-radius: var(--border-radius-md);
}

.sidebar-header-button:hover {
    background-color: var(--color-background-gray);

}

.sidebar-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow-xs);
    overflow: hidden;
    height: 100vh;
    justify-content: space-between;
    background-color: var(--color-base-white);
}

.sidebar-header-router {
    overflow-y: auto;
    overflow-x: hidden;
    height: 75%;
}

.sidebar-header-text {
    color: var(--color-text-gray-light);
    line-height: 1.3rem;
    font-family: PFont-Light;
    word-break: break-word;
}

.quick_options {
    background-color: var(--color-base-white);
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-sm);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
    left: 215px;
    padding: 16px;
    position: absolute;
    top: 80px;
    transition: opacity 0.3s ease, transform 0.3s ease left 1s ease;
    z-index: var(--z-index-9999);
    width: fit-content;
}

.hidden {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

.visible {
    opacity: 1;
    transform: scale(1);
}

.quick_options--colapsed {
    left: 40px;
    transition: left 0.5s ease;
}

@media (max-width: 768px) {
    .quick_options {
        display: none;
    }

    .button_global_create {
        display: none;
    }

    .containerAside {
        z-index: 999;
        height: 100%;
        position: absolute;
        transform: translate(-800px, 0px);
    }

    .containerAside.collapsed {
        transform: translate(0px, 0px);
    }
}