.productCardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 140px;
  padding: var(--spacing-md);
  background: var(--color-base-white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
  cursor: pointer;
  transition: .5s cubic-bezier(.175,.885,.32,1.275);
}

.product-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  height: inherit;
  text-decoration: none;
  z-index: var(--z-index-5);
}

.product-card-image__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 100px;
  background: center / cover no-repeat;
}

.wrapper-image,
.product-card-image,
.product-card-image__overlay {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-sm);
}

.product-card-image {
  object-fit: cover;
}

.product-card-image__overlay {
  display: none;
  align-items: center;
  justify-content: center;
  background: var(--color-background-gray);
  color: var(--color-neutral-gray-dark);
  font-size: 12px;
  gap: var(--spacing-xs);
}

.product-card__title,
.product-card__description,
.card_sub_items {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.product-card__title {
  font-size: var(--font-size-md);
  line-height: var(--line-height-xs);
  color: var(--color-text-gray-light);
}

.product-card__description {
  order: 5;
  padding: 0 var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  color: var(--color-text-gray-light);
}

.product-card__price-container {
  display: flex;
  flex-direction: column;
}

.stock_container {
  align-items: center;
  background: var(--color-base-white);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  border: var(--border-width-xs) solid var(--color-neutral-gray);
  display: flex;
  height: 25px;
  justify-content: center;
  left: 49.1%;
  position: absolute;
  top: 85px;
  transform: translateX(-50%);
  transition: transform .2s, opacity .2s, box-shadow .2s;
  width: 87%;
  z-index: var(--z-index-50);
}

.quantity_container {
  position: absolute;
  top: 60px;
  right: var(--spacing-lg);
  display: flex;
  justify-content: flex-end;
  width: min-content;
  z-index: var(--z-index-50);
}

.dots_sub_items {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
}

.card_sub_items {
  margin-top: var(--spacing-sm);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
  color: var(--color-neutral-gray-silver);
}

.container_free {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
}

.productCardWrapperFree {
  position: absolute;
  top: var(--spacing-md);
  width: 99%;
  padding: var(--spacing-xs) 0;
  display: flex;
  justify-content: center;
  background: var(--color-feedback-success-dark);
  border-radius: var(--border-radius-xs) var(--border-radius-xs) 0 0;
  opacity: 0;
  transition: top .5s, opacity .5s;
}

.product-card:hover .productCardWrapperFree {
  top: -20px;
  opacity: 1;
}

.suggestion,
.product_slide_action_bottom {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: var(--spacing-3xl);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: bottom .5s, opacity .5s;
}

.suggestion {
  left: 0;
  background: var(--color-feedback-success-dark);
}

.product_slide_action_bottom {
  right: 0;
  background: var(--color-primary-pink-light);
}

.product:hover .suggestion,
.product:hover .product_slide_action_bottom {
  bottom: -35px;
  opacity: 1;
}

.productCard_info_slider {
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 30px;
  height: var(--spacing-3xl);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background-gray);
  border-radius: var(--border-radius-full);
  box-shadow: var(--box-shadow-xs);
  opacity: 0;
  z-index: var(--z-index--1);
  transition: opacity .5s;
}

.product:hover .productCard_info_slider {
  opacity: 1;
}

.product-card-discount {
  font-size: var(--font-size-sm);
  color: var(--color-text-inactive);
  text-decoration: line-through;
}

.comment_tag {
  display: flex;
  place-content: center;
  place-items: center;
}