.payment-state-msg-wrapper {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-feedback-warning-light);
  bottom: 0;
  cursor: default;
  display: flex;
  font-size: 17px;
  line-height: 24px;
  position: fixed;
  z-index: var(--z-index-9999);
}