.content-cart {
    background-color: 'red';
    padding: 10px;
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
    grid-template-columns: 5fr 10%;
    gap: 20px;
    cursor: move;
    display: grid;
}

.content-cart-flex {
    display: flex;
}

.title_card {
    margin: 0;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 500;
    color: #3f3e3e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price {
    word-break: break-word;
    font-family: PFont-Light;
    color: red;
    margin: 0;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 600;
}