.container {
  position: relative;
  overflow: hidden;
  padding: 0;
  background-color: var(--color-background-gray);
}

.cardLoader {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-gray);
}

.cardLoader::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: var(--color-gradients-skeleton);
}

.cardLoader::after {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--color-gradients-shimmer);
  animation: shimmer 0.8s linear infinite;
  border-radius: inherit;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
