.input {
    border-radius: 5px;
    border: 1px solid var(--color-neutral-gray-silver);
    font-size: var(--font-size-lg);
    font-weight: 500;
    margin: 10px 0;
    outline: 0;
    padding: 21px 10px;
    width: 100%;
    background-color: var(--color-base-white);
    color: var(--color-text-black);
}

.label {
    background-color: var(--color-base-white);
    color: var(--color-neutral-gray-dark);
    font-family: PFont-Light;
    font-size: 16px;
    left: 15px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: -3px;
    transition: color 0.2s ease;
    user-select: none;
    padding: 5px;
}