.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  margin: 5px;
  border: none;
  background-color: var(--color-neutral-gray-light);
  border-radius: var(--border-radius-2xs);
  width: var(--spacing-4xl);
  height: var(--spacing-4xl);
}

.button:disabled {
  background-color: var(--color-background-gray);
  cursor: not-allowed;
}

.active {
  background-color: var(--color-primary-red);
  color: var(--color-text-white);
  padding: 10px;
  border-radius: var(--border-radius-2xs);
  width: var(--spacing-4xl);
  height: var(--spacing-4xl);
}

.pageInputContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.pageInput {
  width: 100px;
  height: var(--spacing-4xl);
  padding: 0.5rem;
  border: 1px solid var(--color-neutral-gray);
  border-radius: 4px;
  text-align: center;
}

.goButton {
  background-color: var(--color-primary-red);
  color: var(--color-text-white);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  height: var(--spacing-4xl);
  border-radius: var(--border-radius-2xs);
  transition: background-color 0.3s ease;
}